.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  padding: 22px 32px;
  border: 0px;
  border-radius: 8px;
  font-size: 22px;
  line-height: 20px;
  letter-spacing: 0.7px;
  color: var(--c-white);
  background: var(--c-ozon-blue);
  font-family: var(--f-reg);
}
