.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 124px;
  max-width: 100%;
  width: 1600px;
}

.footer__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--f-reg);
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  max-width: 1080px;
  width: 100%;
}

.footer__navigation__navigationText {
  height: 60px;
  width: 432px;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.footer__navigation__navigationMedia {
  height: 37.45px;
  width: 181px;
}
