:root {
  --f-reg: "OSReg";
  --f-bold: "OSBold";
  --f-light: "OSLight";

  --c-midnight: #001a34;
  --c-ozon-blue: #005bff;
  --c-ozon-blue-10: #e0ebff;
  --c-ozon-blue-50: #7fadff;
  --c-white: #ffffff;
  --c-mystic: #dee5ea;
  --c-dark-space: #667585;
  --c-cadet-blue: #b2bac2;
  --c-aqua-haze: #eff3f6;
}
